/* reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
img {
  display: block;
}

body {
  text-align: center;
}
/*  */
.wrap {
  width: 100%;
  height: 100vh;
  padding: 2rem;
}
ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
li {
  width: calc(100% / 7);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

canvas {
  width: 50%;
  height: 00px;
  margin: 50px auto;
  background-color: rgba(255, 166, 0, 0.103);
  border: 20px groove tomato;
  border-radius: 2rem;
  display: block;
}
